.main-container {
    margin: 0 auto;
    width: 1600px;
    max-width: 100%;
}

#interface input{
    display: block;
    margin: 0.7rem 0;
    width: 100%;
}

#interface input:after{
    content: attr(data-label) ' ' attr(data-status);
    display: block;
    padding-left: 1.5rem;
}

canvas {
    display: block;
    border: 1px solid lightgray;
    max-width: 100%;
}
