.main-container {
    margin: 0 auto;
    width: 1600px;
    max-width: 100%;
}

.controls-container{
    max-width: 100%;
    margin: 0 auto;
}

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: 1;
    font-size: 1vw;
    border-style: solid;
    padding: 10px;
}

.btn {
    margin-left: 5;
}

.toggle {
    background-color: white;
    border-color: black;
    color: black;
}
.toggle.active{
    background-color: black;
    color: white;
}

.btn.isActive.active{
    background-color: #00BE5B;
    color: white;
}

.btn.isActive{
    background-color: white;
    color: #00BE5B;
}

.btn.isInactive.active{
    background-color: grey;
    color: white;
}

.btn.isInactive{
    background-color: white;
    color: grey;
}

.fuschia {
    background-color: fuchsia;
    border-color: fuchsia;
    color: white;
}

.fuschia.active{
    background-color: white;
    color: fuchsia;
}



canvas {
    display: block;
    border: 1px solid lightgray;
    max-width: 100%;
}
